* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000000;
  background-color: #e5e5e5; 
}

.App{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.addBillContainer {
  width: 25%;
}

.billsContainer {
  width: 75%;
}

header {
  background-color: #fca311;
font-family: 'Silkscreen', sans-serif;

  color: #000000;
  padding: 10px;
  text-align: center;
}

.addbill,
.editbill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  width: fit-content;
}

.bill {
  background: #ffffff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #e5e5e5; 
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
  position: relative;
}

.bill h3 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.bill p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.deletebtn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: medium;
  border: none;
  text-align: center;
  background-color: #eee;
  color: #000000; 
  position: absolute;
  bottom: 15px;
  right: 10px;
}

h2, h3, h4, h5, h6 {
  color: black;
}